@page "/"
@using SatisfactoryTree.Logic
@using SatisfactoryTree.Logic.Models
@* @inject Blazored.LocalStorage.ILocalStorageService LocalStorage *@
@inject HttpClient _httpClient
@inject ProductionCalculator ProductionCalculator

<PageTitle>Home</PageTitle>

<h3>Products</h3>
<button class="btn btn-primary" @onclick="AddProductPart">Add Part</button>
<div class="container">
    <div class="row">
        <div class="col-sm-4"> Part</div>
        <div class="col-sm-4"> Recipe</div>
        <div class="col-sm-4"> Quantity</div>
    </div>
    @foreach (Product product in Products)
    {
        <div class="row">
            <div class="col-md-4">
                <div class="d-flex align-items-center">
                    <img src="satisfactory-assets/item/@product.PartImage" alt="Part Image" style="width:40px; height:40px; padding-right:4px;">
                    <select class="form-control" @bind="@product.PartId">
                        <option value=""></option>
                        @foreach (Part part in Parts)
                        {
                            <option value="@part.PartId">@part.PartName</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-sm-4">
                <select class="form-control" @bind="@product.RecipeId">
                    @foreach (Recipe recipe in Recipes.Where(p => p.PartId == product.PartId))
                    {
                        <option value="@recipe.RecipeId">@recipe.RecipeName</option>
                    }
                </select>
            </div>
            <div class="col-sm-4">
                <input type="text" class="form-control" @bind="product.Quantity">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <b>Requires:</b>
                @foreach (Ingredient ingredient in Recipes.FirstOrDefault(r => r.RecipeId == product.RecipeId)?.Ingredients ?? new List<Ingredient>())
                {
                    <span class="badge rounded-pill bg-primary">
                        <img src="satisfactory-assets/item/@ingredient.PartImage" alt="Part Image" style="width:32px; height:32px; padding-right:4px;">
                        <span>@ingredient.PartName: @(ingredient.Quantity * (product.Quantity / ingredient.Quantity)) per/min</span>
                    </span>
                }
                <span class="badge rounded-pill bg-secondary">&nbsp;<img src="satisfactory-assets/building/constructormk1_64.png" alt="Part Image" style="width:32px; height:32px; padding-right:4px;"> Constructor: x1.0</span>
                <span class="badge rounded-pill bg-success">&nbsp;Power: 30MW</span>
            </div>
        </div>
    }
</div>
<br />

<h3>Imports</h3>
<table>
    <tr>
        <td>Factory</td>
        <td>Part</td>
        <td>Quantity</td>
    </tr>
    @foreach (string item in Imports)
    {
        @item
        <br>
    }
</table>

<h3>Storage</h3>
<table>
    <tr>
        <td>Part</td>
        <td>Quantity</td>
    </tr>
    @foreach (string item in Storages)
    {
        @item
        <br>
    }
</table>

<p role="status">Current count: @currentCount</p>

@code {

    List<Part> Parts = new();
    List<Product> Products = new();
    List<string> Imports = new();
    List<string> Storages = new();
    List<Recipe> Recipes = new();

    protected override async Task OnInitializedAsync()
    {
        // Fetch the JSON file from the content folder
        await ProductionCalculator.InitializeAsync();
        Parts = ProductionCalculator.GetParts();
        Products = ProductionCalculator.GetProducts();
        Imports = ProductionCalculator.GetImports();
        Storages = ProductionCalculator.GetStorages();
        Recipes = ProductionCalculator.GetRecipes();
    }

    private int currentCount = 0;
    private void AddProductPart()
    {
        Products.Add(new("", "", "", 1));
    }
}